<!DOCTYPE html>

<html lang="en">

    <head>
        <title>TITLE</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ favicon_path }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>

    <body>

        <div class="container">
            <h2>TEST</h2>

            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#about">About</a></li>
                <li><a data-toggle="tab" href="#links">Links</a></li>
            </ul>

            <div class="tab-content">

                <!-- Tab 3: about -->
                <div id="about" class="tab-pane fade">
                    <h3>About</h3>
                    <p>{{ total | safe }}</p>
                </div>

                <!-- Tab 4: links -->
                <div id="links" class="tab-pane fade">
                    <h3>Links</h3>
                    <p>{{ total | safe }}</p>
                </div>

            </div>
        </div>
    </body>
</html>